<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/index.css'>
  </head>
  <body>
    <% if (error) { %>
    <div class="error"><%= error %></div>
    <% } %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <label for="room-name">Room name:</label>
    <input id="room-name" name="room-name" type="text">
    <br>
<!--     <label for="player-name">Player name:</label>
    <input id="player-name" name="player-name" type="text">
    <br> -->
    <br>
    <button id="initiate-game">Launch/Join!</button>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
