<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css'>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="accel"></div>
    <div class="accelInterval"></div>
    <div id="myPublisherDiv"></div>
        <script type="text/javascript">
          // Initialize API key, session, and token...
          // Think of a session as a room, and a token as the key to get in to the room
          // Sessions and tokens are generated on your server and passed down to the client
          var apiKey = "44704392";
          var sessionId = "1_MX40NDcwNDM5Mn5-U2F0IE1hciAyMiAxNjowODoyNCBQRFQgMjAxNH4wLjc1MzAwMzk1fg";
          var token = "T1==cGFydG5lcl9pZD00NDcwNDM5MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz1mMTQ5MjVlMmY5ZWUxNDg4OTAzZGQ2N2EzNjlhYmI0ZjA3YzRkNDRhOnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9MV9NWDQwTkRjd05ETTVNbjUtVTJGMElFMWhjaUF5TWlBeE5qb3dPRG95TkNCUVJGUWdNakF4Tkg0d0xqYzFNekF3TXprMWZnJmNyZWF0ZV90aW1lPTEzOTU1Mjk3MDQmbm9uY2U9MC4xOTI3OTYyMDA4MjQwNTYyNCZleHBpcmVfdGltZT0xMzk1NjE2MTAyJmNvbm5lY3Rpb25fZGF0YT0=";

          // Initialize session, set up event listeners, and connect
          var session = TB.initSession(sessionId);
          session.addEventListener('sessionConnected', sessionConnectedHandler);
          session.connect(apiKey, token);
          
          function sessionConnectedHandler(event) {
            var publisher = TB.initPublisher(apiKey, 'myPublisherDiv');
            session.publish(publisher);
          }
        </script>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/main.js"></script>
    <script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
  </body>
</html>
