<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/index.css'>
    <link rel='stylesheet' href='/styles/bootstrap.min.css'>
  </head>
  <body>
    <% if (error) { %>
    <div class="error"><%= error %></div>
    <% } %>
    <h1>Welcome to <%= title %></h1>
    <br>
    <h2>Rules</h2>
    <ul>
        <li>Don't go off the map.</li>
        <li>Two players only.</li>
        <li>Don't collide with the enemy (red line).</li>
        <li>Good luck and have fun.</li>
    </ul>
    <br>
    <div class="form-inline">
        <label for="room-name">Room name:</label>
        <input id="room-name" name="room-name" type="text">
        <button class="btn btn-primary" id="initiate-game">Launch/Join!</button>
    </div>
    <br>
    <div class="credits">By <a href="https://twitter.com/mattr555">Matt Ramina</a>, <a href="https://github.com/ilanbiala">Ilan Biala</a>, and <a href="https://github.com/acepie">Ameen Radwan</a></div>
    <img class="credit-pic" href="/img/fools.jpg" />
    <script src="/scripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
