h1{
  font: 72px "Trebuchet MS";
  text-align: center;
}

body {
  padding: 50px;
  font: 14px "Trebuchet MS", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.credits {
	margin-top: 10px;
}

.error {
	color: red;
}

#room-name {
	padding: 6px 0;
}

.credit-pic {
	width: 250px;
	height: 250px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
	margin: 0 0 0 3%;
}

.credit-container {
	margin: 0 0 0 35%;
}
