h1{
  font: 72px "Trebuchet MS";
  text-align: center;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.credits {
	margin-top: 10px;
}
