<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/styles/game.css">
	<link rel="stylesheet" href="/styles/bootstrap.min.css">
</head>
<body>
	<!--
	<div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Game details</h4>
				</div>
				<div class="modal-body">
					<label for="room-width">Room width:</label>
					<input id="room-width" name="room-width" type="number">
					<br>
					<label for="room-length">Room length:</label>
					<input id="room-length" name="room-length" type="number">
					<p>Please wait until both people have moved to opposite corners to start the game.</p>
				</div>
				<div class="modal-footer">
					<button id="startGame" type="button" class="btn btn-primary">Play!</button>
				</div>
			</div>
		</div>
	</div> -->
	<div class="accuracy"></div>
	<div class="speed"></div>
	<p class="movement"></p>
	<p class="currentLocation"></p>
	<p class="history"></p>
	<canvas width="800" height="600">Your browser does not support the <code>canvas</code> element. Please try another browser.</canvas>
	<div id="myPublisherDiv"></div>
	<script src="/scripts/jquery.min.js"></script>
	<script src="/scripts/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/scripts/game.js"></script>
	<script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
	<script src="/scripts/tok.js"></script>
</body>
</html>
