<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/styles/game.css">
	<link rel="stylesheet" href="/styles/bootstrap.min.css">
</head>
<body>
	<div class="info">
		<p class="accuracy"></p>
		<p class="movement"></p>
		<p class="currentLocation"></p>
	</div>
	<canvas width="800" height="600">Your browser does not support the <code>canvas</code> element. Please try another browser.</canvas>
	<audio style="display: none;" autoplay>
		<source src="/music/techno.mp3" type="audio/mpeg"></source>
	</audio>
	<div id="video">
		<div id="myPublisherDiv"></div>
	</div>
	<script src="/scripts/jquery.min.js"></script>
	<script src="/scripts/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/scripts/game.js"></script>
	<script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
	<script src="/scripts/tok.js"></script>
</body>
</html>
