<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/styles/game.css">
	<link rel="stylesheet" href="/styles/bootstrap.min.css">
</head>
<body>
	<div class="accuracy"></div>
	<p class="movement"></p>
	<p class="currentLocation"></p>
	<p class="history"></p>
	<canvas width="800" height="600">Your browser does not support the <code>canvas</code> element. Please try another browser.</canvas>
	<div id="myPublisherDiv"></div>
	<script src="/scripts/jquery.min.js"></script>
	<script src="/scripts/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/scripts/game.js"></script>
	<script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
	<script src="/scripts/tok.js"></script>
</body>
</html>
